<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.met.metronome.user.service.impl.UserDAO">
    <select id="processLogin" resultType="com.met.metronome.user.entity.UserDTO">
        SELECT
            ID, LOGIN_ID, PASSWORD, NAME
        FROM
            USER
        WHERE
            LOGIN_ID = #{loginId}
            AND PASSWORD = #{password}
    </select>

    <select id="selectUserFromLoginId" resultType="com.met.metronome.user.entity.UserDTO">
        SELECT
            ID, LOGIN_ID, PASSWORD, NAME
        FROM
            USER
        WHERE
            LOGIN_ID = #{loginId}
    </select>

    <insert id="insertUser">
        <selectKey resultType="Long" keyProperty="id" order="BEFORE">
            SELECT IFNULL(MAX(ID), 0) + 1 FROM USER
        </selectKey>
        INSERT INTO USER (
            ID, LOGIN_ID, PASSWORD, NAME
        ) VALUES (
            #{id}, #{loginId}, #{password}, #{name}
        )
    </insert>
</mapper>
